<!--コメント詳細用部分テンプレート-->

<p class="comments__article">
  <!--投稿日時・投稿者情報-->
  <span class="patterns__submit--user">
    <%= "#{ date_format( comment.created_at ) } / #{ comment.user.name }" %><br>
  </span>
  <!--コメント本文-->
  <%= comment.body %>
</p>
