<!--コメント詳細用部分テンプレート-->

<p class="comments__article">
  <!--投稿日時・投稿者情報-->
  <%= content_tag :span, '', class: "patterns__article--submitUser" do %>
  <%= date_format( post_comment.created_at ) %>
  &nbsp;/&nbsp;
  <%= "No. #{post_comment.id}" %>
  <% end %><br>
  <!--コメント本文-->
  <%= post_comment.body %>
</p>
