.application {
  &__errors {
    &--textField {
      border: thin solid red !important;
      background-border: rgba( 100, 0, 0, 0.2 ) !important;
      background-color: rgba( 255, 0, 0, 0.1 ) !important;
    }
  }
}
