.categories {
  &__form {
    &--submitField {
      text-align: right;
    }
  }
  &__index {
    &--tableTd {
      padding: 10px 0;
      text-align: center;
    }
    &--headline {
      text-indent: 3em;
    }
  }
}
