.members {
  &__show {
    &--headline {
      font-size: 20px;
      font-weight: bold;
      padding-top: 0.5em;
    }
    &--divLeft {
      float: left;
      width: 30%;
      text-align: center;
    }
    &--divRight {
      float: left;
      width: 70%;
      vertical-align: bottom;
    }
    &--img {
      background-color: black;
      max-height: 150px;
      display: inline-block;
      padding: 5px;
      border: thin solid dimgray;
      margin-bottom: 1em;
    }
  }
}
