<p>
  <input type="button" value="開始"               class="patterns__show--lifeGameStart"       onclick="startProcess();">
  <input type="button" value="一時停止"        class="patterns__show--lifeGameStop"       onclick="stopProcess();">
  <input type="button" value="リフレッシュ" class="patterns__show--lifeGameRefresh"   onclick="initializeLifeGame();">
  interval = 100ms
</p>

<p class="patterns__show--lifeGameInfo">
  (ここに世代情報が表示されます)
</p>

<p class="patterns__show--lifeGameDisplay">
  (ここにライフゲームが表示されます)
</p>

<script>
  // turbolinksのせいで２回実行されるが、
  // タイマー処理の初期化を実施するだけなので
  // 問題なしと判断
  // console.log('<%= Time.zone.now %>');
  initializeLifeGame();
</script>
