<p class="patterns__show--lifeGameInterface">
  <%= render 'patterns/interface' %>
</p>

<p class="patterns__show--lifeGameInfo">
  (ここに世代情報が表示されます)
</p>

<p class="patterns__show--lifeGameDisplay">
  (ここにライフゲームが表示されます)
</p>

<script>
  $(function(){
    // カテゴリ欄の削除
    $(".application__layouts--leftSection").remove();
    // パターン表示を画面最大に
    $(".application__layouts--rightSection").removeClass().addClass('col-lg-12');
    // ライフゲームの表示初期化（lifegame/environment.js参照）
    initializeLifeGame();
  });
  // turbolinksのせいで２回実行されるが、
  // タイマー処理の初期化を実施するだけなので
  // 問題なしと判断
</script>
