<!--ライフゲーム実行用部分テンプレート-->

<!--操作ボタン類-->
<div class="patterns__show--lifeGameInterface">
  <%= render 'patterns/interface' %>
</div>

<p class="patterns__show--lifeGameInfo">
  (ここに世代情報が表示されます)
</p>

<div style="background-color: black;">
  <p class="patterns__show--lifeGameDisplay">
    (ここにライフゲームが表示されます)
  </p>
</div>
