<% patterns.each do | pattern | %>
<div class="row">
  <%= render 'patterns/article', pattern: pattern, character_limit: 60, image_side_length: 90 %>
</div>
<% end %>

<%= paginate patterns, class: "paginate" %>
