<!--ライフゲーム操作用インターフェース-->

<h4 class="patterns__show--interFaceHeadline">
  <i class="fas fa-gamepad"></i>
  ライフゲーム操作用インターフェース
</h4>

<p>
  <!--リセットアクション-->
  <button type="button" name="refresh" class="btn btn-default patterns__show--lifeGameRefresh" onclick="initializeLifeGame( false, true );">
    <i class="fas fa-eraser"></i>
    リセット
  </button>

  <!--開始アクション-->
  <button type="button" name="start" class="btn btn-default patterns__show--lifeGameStart" onclick="startProcess();">
    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
    開始( per 0.3s )
  </button>

  <!--一時停止アクション-->
  <button type="button" name="stop" class="btn btn-default patterns__show--lifeGameStop" onclick="stopProcess();">
    <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
    一時停止
  </button>

  <!--早送りアクション-->
  <button type="button" name="stop" class="btn btn-default patterns__show--lifeGameStart" onclick="startProcess( 100 );">
    <i class="fas fa-forward"></i>
    早送り( per 0.1s )
  </button>
</p>

<p>
  <!--手動更新アクション-->
  <button type="button" name="stop" class="btn btn-default patterns__show--lifeGameGenerationChange" onclick="upDate();">
    <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
    １世代更新
  </button>

  <!--超早送りアクション-->
  <button type="button" name="stop" class="btn btn-default patterns__show--lifeGameStart" onclick="startProcess(0);">
    <i class="fas fa-skull-crossbones"></i>
    超早送り
    <i class="fas fa-skull-crossbones"></i>
  </button>
</p>
