<!--投稿済パターンの編集ページ-->

<!--ページタイトル-->
<h3>パターン編集</h3>
<div class="patterns__edit">
  <%= render 'patterns/form', pattern: @pattern %>
</div>

<!--登校前パターンのプレビュー（エミュレート）画面-->
<%= render 'patterns/emulation' %>

<p class="patterns__edit--alignRight">
  <%= link_to pattern_path( @pattern ), method: :delete, "data-confirm" => "本当に削除してもよろしいですか？", class: "btn btn-danger" do %>
  <%= content_tag :span, '', class: "glyphicon glyphicon-trash", aria: { hidden: true } %>
  このパターンを削除する
  <% end %>
</p>
