<!--パターン一覧ページ-->

<!--一覧のタイトル-->
<h2 class="patterns__index">
  <%= @title %>一覧
</h2>

<!--カテゴリ検索が行われた場合の処理-->
<% if @title_detail then %>
<div class="categories__show--main">

  <!--カテゴリ説明文タイトル-->
  <h4 class="categories__show--headline">
    このカテゴリについて
  </h4>

  <!--カテゴリ説明文-->
  <p class="categories__show--body">
    <%= content_tag :span, '', class: "glyphicon glyphicon-tag", aria: { hidden: true } %>
    <%= @title_detail %>
  </p>
</div>
<% end %>

<!--パターン一覧-->
<%= render 'patterns/index', patterns: @patterns %>
