<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <% @patterns.each do | pattern | %>
    <div class="row">
      <%= render 'patterns/article', pattern: pattern %>
    </div>
    <% end %>

    <%= paginate @patterns, class: "paginate" %>

  </div>
</div>
