<!--作成したパターンの新規投稿ページ-->

<!--ページタイトル-->
<h3>投稿前パターン情報入力</h3>
<div class="patterns__new">
  <%= render 'patterns/form', pattern: @pattern %>
</div>

<!--登校前パターンのプレビュー（エミュレート）画面-->
<%= render 'patterns/emulation' %>
