
<%= attachment_image_tag @pattern, :image, size:'50x50', format: 'jpeg', fallback: 'no_pattern_image.jpg', size:'50x50' %>

<p>
   <input type="button" value="開始"        id="startcount"     onclick="startShowing();">
   <input type="button" value="一時停止" id="stopcount"     onclick="stopShowing();">
   interval = 100ms
</p>
<p id="ShowInfo">(ここにカウントが表示されます)</p>
<p id="ShowLifeGame" class="lifegame">(ここにライフゲームが表示されます)</p>


<script>
  // turbolinksのせいで２回実行されるが、とりあえず問題はなさそう
  // console.log('<%= Time.zone.now %>');
  initializeLifeGame();
</script>
