<!--ライフゲームエミュレート画面-->
<%= render 'patterns/emulation' %>

<!-- スタートアクション -->
<p class="homes__top--start">
  <button type="button" name="start" class="btn btn-default" onclick="topAction();">
    スタート！！
  </button>
</p>
