<h1>Homes#top</h1>
<p>Find me in app/views/homes/top.html.erb</p>
<p>
  <%= link_to 'DisplayFormat#new', new_display_format_path %><br>
  <%= link_to 'DisplayFormat#edit_1', edit_display_format_path( 1 ) %>
</p>
