 /*common*/
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 .clearfix::after {
   content: "";
   display: block;
   clear: both;
 }

 .application {
   &__layouts {
     &--leftSection {
     }
     &--rightSection {
     }
   }
   &__alert {
     &--common {
       margin: 20px;
       display: none;
     }
     &--headline {
       margin: 20px;
       font-size: 28px;
       font-weight: 900;
     }
     &--body {
       padding-left: 50px;
     }
   }
 }

 body {
   background-color: #eee;
 }

 header {
   color: white;
   background-color: black;
   padding: 10px 30px;
   margin-bottom: 40px;
   h1 {
     color: limegreen;
   }
   img {
     border: thin solid dimgray;
     background-color: black;
   }
   a {
     color: white;
     text-decoration: none;
     &:hover {
       color: yellow;
       text-decoration: none;
     }
   }
   nav {
     ul {
       text-align: right;
       li {
         margin: 0 10px;
         display: inline-block;
         list-style: none;
         vertical-align: middle;
         &:hover {
           color: yellow;
         }
       }
     }
   }
 }

 footer {
   height: 150px;
   width: 100%;
   background-color: #000;
   color: #fff;
   margin-top: 30px;
 }
