 /*common*/
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 .clearfix::after {
   content: "";
   display: block;
   clear: both;
 }

 .application {
   &__layouts {
     &--leftSection {
     }
     &--rightSection {
     }
   }
   &__alert {
     &--common {
       max-width: 80%;
       min-width: 50%;
       display: none;
       position: absolute;
       top: 10px;
       z-index: 10;
     }
     &--headline {
       padding-left: 1em;
     }
     &--body {
       font-size: 15px;
       padding-left: 5em;
       line-height: 2em;
     }
     &--closeButton {
       width: 1.5em;
       height: 1.5em;
     }
   }
   &__errors {
     &--textField {
       border: thin solid red !important;
       background-border: rgba( 100, 0, 0, 0.2 ) !important;
       background-color: rgba( 255, 0, 0, 0.1 ) !important;
     }
   }
 }


 header {
   color: white;
   background-color: black;
   padding: 10px 30px;
   margin-bottom: 40px;
   h1 {
     color: limegreen;
   }
   img {
     border: thin solid dimgray;
     background-color: black;
   }
   a {
     color: white;
     text-decoration: none;
     &:hover {
       color: yellow;
       text-decoration: none;
     }
   }
   nav {
     ul {
       text-align: right;
       li {
         margin: 0 10px;
         display: inline-block;
         list-style: none;
         vertical-align: middle;
         &:hover {
           color: yellow;
           font-weight: bold;
         }
       }
     }
   }
 }

 body {
   background-color: #eee !important;
 }


 footer {
   height: 150px;
   width: 100%;
   background-color: black;
   color: #fff;
   margin-top: 30px;
 }
