/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 /*common*/
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 .clearfix::after {
   content: "";
   display: block;
   clear: both;
 }

 body {
   // background-color: #000;
 }

 header {
   color: white;
   background-color: black;
   padding: 10px 30px;
   margin-bottom: 40px;
   h1 {
     color: limegreen;
   }
   img {
     border: thin solid dimgray;
     background-color: black;
   }
   a {
     color: white;
     text-decoration: none;
     &:hover {
       color: yellow;
       text-decoration: none;
     }
   }
   nav {
     ul {
       text-align: right;
       li {
         margin: 0 10px;
         display: inline-block;
         list-style: none;
         vertical-align: middle;
         &:hover {
           color: yellow;
         }
       }
     }
   }
 }

 footer {
   height: 100px;
   width: 100%;
   background-color: #000;
   color: #fff;
   margin-top: 30px;
 }
