.favorites {
  &__create {
    color: inherit;
    &:hover {
      color: inherit;
      font-weight: bold;
      text-decoration: none;
    }
  }
  &__destroy {
    color: inherit;
    &:hover {
      color: inherit;
      font-weight: bold;
      text-decoration: none;
    }
  }
}
