// Place all the styles related to the PostComments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments {
  &__index {
    width: 100%;
  }
  &__article {
    word-wrap: break-word;
  }
  &__form {
    min-height: 50px;
    width: 100%;
  }
}
