<nav>
  <ul>
    <li>
      <h4>全パターンCSV出力</h4>
      <%= link_to "CSV出力", admin_patterns_path(format: :csv), class: "btn btn-primary" %>
    </li>
    <li>
      <h4>開発環境用めーる</h4>
      <%= link_to "LetterOpener", '/letter_opener', class: "btn btn-default" %>
    </li>
  </ul>
</nav>
