<!--patterns/_emulationが呼ばれる場合はテンプレート内jsメソッドにより除去されます-->
<div class="categories__index">
  <h4 class='categories__index--headline'>
    <%= content_tag :span, '', class: "glyphicon glyphicon-th-large",aria: { hidden: true } %>
    カテゴリー
    <%= content_tag :span, '', class: "glyphicon glyphicon-th-large",aria: { hidden: true } %>
  </h4>
  <% Category.all.pluck( :id, :name ).each do | category | %>
  <ul>
    <li class="categories__index--li">
      <%= content_tag :span, '', class: "glyphicon glyphicon-tag",aria: { hidden: true } %>
      <%= link_to category.second, patterns_path( "search[category]" => category.first ) %>
    </li>
  </ul>
  <% end %>
</div>
