<!-- カテゴリ一覧の部分テンプレート -->

<!--patterns/_emulationが呼ばれる場合はテンプレート内jsメソッドにより除去されます-->
<div class="categories__index">
  <!-- タイトル -->
  <h4 class='categories__index--headline'>
    <%= content_tag :span, '', class: "glyphicon glyphicon-th-large",aria: { hidden: true } %>
    カテゴリー
    <%= content_tag :span, '', class: "glyphicon glyphicon-th-large",aria: { hidden: true } %>
  </h4>

  <!-- 一覧 -->
  <% Category.list.each do | name, category_id | %>
  <ul>
    <li class="categories__index--li">
      <%= content_tag :span, '', class: "glyphicon glyphicon-tag",aria: { hidden: true } %>
      <%= link_to name, patterns_path( "search[category]" => category_id ) %>
    </li>
  </ul>
  <% end %>
</div>
