<!--作成中パターンの操作用インターフェース-->

<!--提出前・動作チェック前パターンの適性チェック用アクション-->
<button type="button" class="btn btn-primary makings__edit--verification" onclick="verificationMakingPattern();">
	検証
</button>

<!--パターン加工処理-->
<div class="btn-group">
	<!--ドロップダウンボタンの表示-->
	<button type="button" class="btn btn-danger">
		一括処理
	</button>

	<!--ドロップダウン表示アクション-->
	<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		<span class="caret"></span>
	</button>

	<!--ドロップダウンリスト-->
	<ul class="dropdown-menu" role="menu">
		<!--(1)ビット列の短い行に対する、「右側」への"0"の補完処理-->
		<li role="presentation">
			<a role="menuitem" tabindex="-1" href="#" onclick="autoComplement( 'right' ); return false;">
				自動補完（右側）
			</a>
		</li>
		<!--(2)ビット列の短い行に対する、「左側」への"0"の補完処理-->
		<li role="presentation">
			<a role="menuitem" tabindex="-1" href="#" onclick="autoComplement( 'left' ); return false;">
				自動補完（左側）
			</a>
		</li>
		<!--(3)作成中のパターンを初期化-->
		<li role="presentation" class="makings__edit--destroy" id="unko">
			<%= link_to making_path, method: :delete, role: "menuitem", tabindex:"-1", "data-confirm" => "作成中のパターンを初期化しますか？", role: "menuitem", tabindex: -1 do %>
			<%= content_tag :i, 'パターンを初期化', class:"fas fa-bomb"%>
			<% end %>
		</li>
	</ul>
</div>
