.display_formats {
  &__form {
    margin-top: 70px;
    &--cellsConditions {
      width: 40px;
      text-align: center;
    }
    &--cellsMargin {
      width: 60px;
      text-align: right;
    }
    &--submit {
      text-align: right;
    }
    &--callEdit {
      margin-left: 70%;
    }
  }
}
