#makings__edit--update {
  display: none;
}

.size-limit {
  max-height: 300px;
  max-width: 300px;
}

#crop{
  &_area_box {
    max-height: 50vh;
    max-width: 50vw;
  }
  &_preview {
    @extend .size-limit
  }
  &_preview_binarization {
    @extend .size-limit
  }
}

.makings {
  &__new {
    &--sectionA {
      display: none;
    }
    &--sectionB {}
    &--sectionC {
      display: none;
    }
    &--infoH3 {
      font-weight: bold;
      line-height: 1.3em;
      text-align: center;
    }
    &--infoH6 {
      text-align: center;
    }
    &--headline {
      display: none;
    }
    &--changeButton {
      display: none;
    }
    &--labelBox {
      padding: 10px 20px 10px 20px;
      label {
        cursor: pointer;
      }
    }
    &--inputLabel {
      height: 2.5em;
      text-align: center;
      padding: 10px 15px 8px;
      border-radius:4px;
      border: 1px solid #d3d3d3;
      background: #fff;
      line-height: 1em;
      outline-width: 2px;
    }
  }
  &__edit {
    &--top {
      margin-top: 10px;
    }
    &--bottom {
      margin-top: 10px;
    }
    &--textarea {
      width: 100%;
      margin: 20px 0;
      resize: vertical;
    }
    &--body {
      word-wrap: break-word;
    }
    &--torusIsTrue {
      color: white;
      background-color: limegreen;
      &:hover {
        color: white !important;
        background-color: forestgreen;
      }
      &:active {
        color: white !important;
        background-color: forestgreen;
      }
    }
    &--torusIsFalse {
      color: white;
      background-color: slateblue;
      &:hover {
        color: white !important;
        background-color: darkslateblue;
      }
      &:active {
        color: white !important;
        background-color: darkslateblue;
      }
    }
    &--destroyTab {
      color: black;
      background-color: rgba( 255, 0, 0, 0.5);
      padding: 20px;
      text-align: center;
      &:hover {
        font-weight: bold;
        background-color: red;
      }
    }
    &--tabNav {
      margin: 20px 0;
    }
    &--tabLi {
      font-size: 15px;
      a {
        color: black;
        &:hover {
          color: black;
          font-weight: bold;
        }
      }
    }
    &--tabCommon {
      background-color: white;
      padding: 20px;
      border-bottom: 1px solid #ddd;
    }
    &--couplerPreview {
      text-align: center;
      color: magenta;
      background-color: black;
      padding: 1em;
      line-height: 0.6em;
      white-space: nowrap;
    }
    &--couplingButtonPosition {
      padding: 10px 10px 0;
      text-align: right;
    }
    &--createBlankPattern {
      font-size: 14px;
      tr {
        td {padding-right: 10px}
        th {padding-right: 10px}
      }
    }
    &--couplingDiv2 {
      display: none;
      ul {
        li {
          font-size: 14px;
          margin-left: 30px;
        }
      }
    }
    &--couplerAvailable {
      display: none;
      font-size: 14px;
      color: red;
    }
    &--couplingDiv3 {
      display: none;
    }
  }
}
