// Place all the styles related to the Makings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#makings__edit--update {
  display: none;
}

.makings {
  &__edit {
    &--top {
      margin-top: 10px;
    }
    &--bottom {
      margin-top: 10px;
    }
    &--textarea {
      resize: vertical;
      width: 100%;
    }
    &--body {
      word-wrap: break-word;
    }
  }
}
