// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.members {
  &__show {
    width: 100%;
    margin: 20px 10px;
    &--headline {
      vertical-align: center;
    }
    &--body {
    }
  }
}
