#patterns__new--jump {
  display: none;
}

.patterns {
  &__new {
    margin-bottom: 50px;
    &--img {
      max-height: 150px;
      max-width: 150px;
    }
    &--submit {
      text-align: right;
    }
  }
  &__index {
    &--emptyBody {
      padding: 20px;
    }
  }
  &__edit {
    margin-bottom: 50px;
    &--enterButton {}
    &--table {
      th, td {
        width: 6em;
        background-color: white;
        padding: 10px;
        border-top: thin solid black;
        border-bottom: thin solid black;
        text-align: center;
        vertical-align: center;
        &:last-child {
          border: none;
          background-color: inherit;
        }
        input {
          padding-right: 5px;
          text-align: right;
        }
      }
    }
    &--alignRight {
      text-align: right;
    }
  }
  &__show {
    width: 100%;
    &--bottom {
      width: 100%;
      margin: 20px 0;
    }
    &--bottomLeft {
      width: 45%;
      float: left;
      margin-right: 5%;
    }
    &--bottomRight {
      width: 50%;
      float: left;
      h3 {
        font-weight: bold;
      }
    }
    &--lifeGameDisplay {
      width: 100%;
      padding: 30px;
      margin: 20px auto;
      text-align: center;
      font-size: 30px;
      color: limegreen;
      background-color: black;
      line-height: 0.6em;
      white-space: nowrap;
    }
    &--lifeGameInterface {
      padding: 0 20px;
      margin: 20px 0;
    }
    &--lifeGameInterfaceHeadline {
      font-weight: bold;
    }
  }
  &__article{
    margin-bottom: 20px;
    border-bottom: 2px solid gray;
    align-items: center;
    h3 {
      font-weight: bold;
    }
    &:hover {
      background-color: white;
    }
    &--anchorInactive {
      border: none;
      pointer-events: none;
    }
    &--nothing {
      font-size: 13px;
    }
    &--img {
      max-height: 150px;
      max-width: 150px;
      padding: 10px;
    }
    &--submitUser {
      padding-right: 20px;
      color: #999;
      font-weight: bold;
      a {
        color: inherit;
        &:hover {
          text-decoration: none;
        }
      }
    }
    &--categryHeadline {
      color: #999;
      font-size: 10px;
      font-weight: bold;
    }
    &--divLeft {
      float: left;
      max-width: 30%;
    }
    &--divRight {
      margin-left: 30px;
      float: left;
      max-width: 70%;
    }
  }
  &__property {
    &--show {
      margin: 20px 0;
      color: #999;
      ul {
        text-align: left;
        li {
          text-align: center;
          margin: 0 10px;
          display: inline-block;
          list-style: none;
        }
      }
    }
    &--index {
      color: #999;
      ul {
        text-align: left;
        li {
          text-align: center;
          margin: 0 10px;
          display: inline-block;
          list-style: none;
        }
      }
    }
  }
}
