// Place all the styles related to the Patterns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.patterns {
  &__index {
  }
  &__show {
    width: 100%;
    &--bottom {
      width: 100%;
      margin: 20px 0;
    }
    &--bottomLeft {
      max-width: 40%;
      float: left;
      margin: 0 5%;
    }
    &--bottomRight {
      min-width: 50%;
      float: left;
    }
  }
  &__article{
    margin-bottom: 20px;
    border-bottom: 2px solid gray;
    align-items: center;
    h3 {
      font-weight: bold;
    }
    &--img {
      max-height: 150px;
      margin: 10px;
    }
    &--patternsShow {
      border: none;
      pointer-events: none;
    }
    &--submitUser {
      color: #999;
      font-weight: bold;
      a {
        color: inherit;
        &:hover {
          text-decoration: none;
        }
      }
    }
    &--categryHeadline {
      color: #999;
      font-size: 10px;
      font-weight: bold;
    }
    &--divLeft {
      float: left;
      max-width: 30%;
    }
    &--divRight {
      margin-left: 30px;
      float: left;
      max-width: 70%;
    }
  }
  &__property {
    &--show {
      margin: 20px 0;
      color: #999;
      ul {
        text-align: left;
        li {
          text-align: center;
          margin: 0 10px;
          display: inline-block;
          list-style: none;
        }
      }
    }
    &--index {
      color: #999;
      ul {
        text-align: left;
        li {
          text-align: center;
          margin: 0 10px;
          display: inline-block;
          list-style: none;
        }
      }
    }
  }
}
