<div class="clearfix">
  <div class="members__show--divLeft">
    <%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", class: "members__show--img" %>
  </div>
  <div class="members__show--divRight">
    <%= render 'members/detail', user: @user %>
  </div>
</div>

<div class='members__show'>
  <%= render 'patterns/index', patterns: @patterns %>
</div>
