
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class='members__show'>
      <%= attachment_image_tag @user, :profile_image, size: 50, fallback: "no_image.jpg" %>
      <%= @user.name %>
      <%= @user.introduction %>
    </div>
    <%= render 'patterns/index', patterns: @patterns %>
  </div>
</div>
