<!--ユーザ詳細ページ-->

<!--ユーザ情報-->
<div class="clearfix members__show--profile">
  <%= render 'members/detail', user: @user %>
</div>

<!--投稿パターン一覧-->
<div class='members__show'>
  <%= render 'patterns/index', patterns: @patterns %>
</div>
