
  <div class="">
    <div class='members__show'>
      <div class="">
        <%= attachment_image_tag @user, :profile_image, size: 90, fallback: "no_image.jpg" %>
      </div>
      <div class="">
        <p class='members__show--body'>
          <h3><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= @user.name %></h3>
          自己紹介: <%= @user.introduction.blank? ? '本文がありません' : @user.introduction %>
        </p>
      </div>
    </div>
  </div>

<div class="">
  <div class='members__show'>
    <%= render 'patterns/index', patterns: @patterns %>
  </div>
</div>
