<p><%= @resource.name %>様</p>

<p>
  パスワード変更のリクエストを受諾しました。<br>
  下記リンクより変更できます。
</p>

<p>
  <%= link_to 'パスワードの変更', edit_password_url( @resource, reset_password_token: @token ) %>
</p>

<p>
  もしパスワードの変更リクエストをしていないのであれば、 <br>
  本メールは無視していただいて構いません。
</p>

<p>
  もし変更をしないのであれば、本メールは削除しても構わないです。
  または、本メールに心当たりが無い方に着きましても、本メールは削除しても構わないです。
</p>
<p>Play!Create!Publish! LifeGame 管理者より</p>
